.button {
    &-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-active {
        padding: 0;
        margin: 1px 6px;
        box-shadow: 0 0 20px #198754;
        border-radius: 15px;
    }
    &-img {
        border-radius: 5px;
    }
}