.item-page {
    display: flex;
    background-color: $dark;
    margin-top: 18px;
}
.item {
    &-description {
        & h1 {
            font-size: 25px;
        }
    }
}
.item-image {
    background: #071215;
    box-shadow: 0 0 14px #030303 inset;
    width: 360px;
    height: 360px;
    text-align: center;
    margin-right: 15px;
}

