.item-page {
    background-color: $dark;
}
.item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-img {
        flex-grow: 1;
    }
    &-info {
        display: flex;
        flex-direction: column;
    }
}
.item-image {
    background: #071215;
    box-shadow: 0 0 14px #030303 inset;
    width: 360px;
    height: 360px;
    text-align: center;
    margin-right: 15px;
}

