.list-grid {
    display: grid;
    background: #00000033;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 130px;
    &-item {
        display: flex;
        background: #131d2a;
        flex-direction: column;
        border: 1px solid #0c0c0c;
        align-items: center;
        margin: 6px;
        font-size: 14px;
        &:hover {
            background: #00000033;
        }
    }
}
.item-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-count {
    padding-left: 5px;
    color: #8F98A0;
    }
    &-price {
        padding-right: 5px;
        color: #8F98A0;
    }
}
