.list {
  &-header {
    display: flex;
    background: #00000033;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 10px;
  }
  &-mode {
    font-size: 1.5rem;
    padding-right: 10px;
    &-table {
      @extend %hover-mode;
    }
    &-grid {
      @extend %hover-mode;
    }
  }
}

%hover-mode {
  &:hover {
    color: gray;
    cursor: pointer;
  }
}
