.main {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    width: 100%;
    @media (max-width: 640px) {
        padding: 0;
    }
}
._row {
    display: flex;
    margin-top: 48px;
    @media (max-width: 1200px) {
        flex-direction: column-reverse;
    }
    @media (max-width: 480px) {
        flex-direction: column-reverse;
    }
    
}