.inventory-takeover {
    max-height: 100%;
    padding-top: 88px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 60vh;
    min-width: 320px;
    &-container {
        width: 100%;
        align-self: center;
        text-align: center;
    }
    .header-title {
        color: #fff;
        font-size: 40px;
        margin: 0;
        @media (max-width: 480px) {
            font-size: 30px;
        }
    }
    .header-subtitle {
        color: #7a8390;
        margin: 0;
        margin-bottom: 30px;
    }
    &-input {
        @extend %input-block;
        font-size: 20px;
        margin: 30px auto;
        >input {
            padding: 15px;
            @extend %input-field;
        }
        &-mini {
            @extend %input-block;
            flex-direction: column;
            font-size : 14px;
            margin: 5px 0 20px 0;
            >input {
                padding: 10px;
                @extend %input-field;
            }
        }
        @media (max-width: 640px) {
            flex-direction: column;
        }
    }

}

%input-block {
    display: flex;
    background: #213145;
    color: #fff;
    border-radius: 6px;
}
%input-field {
    border-right: 0;
    border-radius: 0;
    font: inherit;
    color: inherit;
    width: 100%;
    box-shadow: none !important;
    border: 0;
    background: unset;
}