.header {
    background: #171a21;
    .content {
        width: 940px;
        height: 104px;
        margin: 0 auto;
    }
}
.logo {
    display: flex;
    align-items: center;
    &-text {
        padding-left: 5px;
        color: white;
    }
}

.navbar {
    &-header {
    background: #f65002;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    }
    &-fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        border-width: 0 0 1px;
    }
}
