.header {
    background: #171a21;
    .content {
        width: 940px;
        height: 104px;
        margin: 0 auto;
    }
}
.logo {
    padding-top: 30px;
    margin-right: 40px;
    width: 176px;
    height: 44px;
}
