.item-listing-header {
    display: flex;
    flex-wrap: wrap;
    font-size: 75.7%;
    background: #00000033;
    height: 2.25em;
    margin: 8px 0 10px;
    line-height: 2.25em;
    &-name{
        width: 88%;
        padding-left: 10px;
        text-transform: uppercase;
        &:hover {
            background-color: #324965;
            cursor: pointer;
        }
    }
    &-count {
        width: 12%;
        text-align: center;
        text-transform: uppercase;
        border-left: 1px solid #404040;
        &:hover {
            background-color: #324965;
            cursor: pointer;
            .sort-arrow {
                transform: rotate(180deg);
            }
        }
    }
}
.item-listing-header {
    color: #AFAFAF;
}
%sort-arrow {
    display: none;
    font-size: 80%;
    margin-left: 4px;
}
.sort-arrow-name {
    @extend %sort-arrow;
}
.sort-arrow-count {
    @extend %sort-arrow;
}